<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/form.css">
		<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
		<script type="text/javascript" src="../javascripts/form.js"></script>
    <title>나의 개발 유형찾기</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/form.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>
<body>
    <section id="survey">
        <div class="wrapper">
            <form id="form">
                <div class="test">
                    <div class="question_container">
                        <h3 class="number">1/10</h3>
                        <h3 class="question">나의 식습관에 가장 가까운 것은?</h3>
                    </div>
                    <div class="answer">
                        <div>
                            <input type="radio" name="answer_1" />
                            <label>배달 음식을 자주 시켜먹는다.</label>
                        </div>
                        <div>
                            <input type="radio" name="answer_1" />
                            <label>식당에 찾아가서 먹는다.</label>
                        </div>
                        <div>
                            <input type="radio" name="answer_1" />
                            <label>식재료를 사서 직접 만들어 먹는다.</label>
                        </div>
                        <div>
                            <input type="radio" name="answer_1" />
                            <label>간편식(컵반, 편의점 음식)을 애용한다.</label>
                        </div>
                    </div>
                    <div class="btn_wrap">
                        <button class="next_btn">다 음</button>
                    </div>
                </div>
                <div class="test">
                    <div class="question_container">
                        <h3 class="number">5/10</h3>
                        <h3 class="question">새로 사고 싶은 물건이 생겼을 때 구매하는 방법은?</h3>
                    </div>
                    <div class="answer">
                        <div>
                            <input type="radio" name="answer_2" />
                            <label>새 제품을 현장 매장 가서 산다.</label>
                        </div>
                        <div>
                            <input type="radio" name="answer_2" />
                            <label>새 제품을 온라인으로 구매한다.</label>
                        </div>
                        <div>
                            <input type="radio" name="answer_2" />
                            <label>중고 거래를 한다 (당근 마켓, 중고나라 등)</label>
                        </div>
                        <div>
                            <input type="radio" name="answer_2" />
                            <label>바로 구매하지 않고 다시 생각해본다.</label>
                        </div>
                    </div>
                    <div class="btn_wrap btn_sort">
                        <button class="prev_btn">이 전</button>
                        <button class="next_btn">다 음</button>
                    </div>
                </div>
                <div class="test">
                    <div class="question_container">
                        <h3 class="number">9/10</h3>
                        <h3 class="question">나의 재활용 습관과 가장 가까운 것은?</h3>
                    </div>
                    <div class="answer">
                        <div>
                            <input type="radio" name="answer_10" />
                            <label>재활용이 적당히 모아졌을 때 분리수거한다.</label>
                        </div>
                        <div>
                            <input type="radio" name="answer_10" />
                            <label>재활용이 넘칠 때 분리수거한다.</label>
                        </div>
                        <div>
                            <input type="radio" name="answer_10" />
                            <label>완벽하게 분리수거한다“비운다, 헹군다, 분리한다, 섞지 않는다.</label>
                        </div>
                        <div>
                            <input type="radio" name="answer_10" />
                            <label>분리수거 하지 않는다.</label>
                        </div>
                    </div>
                    <div class="btn_wrap btn_sort">
                        <button class="prev_btn">이 전</button>
                        <input type="submit" value="제 출" class="submit_btn"/>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <script type="text/javascript" src="/javascripts/form.js"></script>
</body>
</html>
