<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style1.css">
    <title>나의 개발 유형찾기</title>
</head>
<body>
    <section id="main_contents">
        <div class="wrapper">
            <div class="title">
                <h3 class="main_title">나의 환경 MBTI</h3>
                <h3 class="sub_title">How Green Are You?</h3>
            </div>
            <div class="intro">
                <h1>나의 탄소발자국은 어디서?!</h1>
                <div class="type">
                    <ul class="type_list">
                        <li>맛집 탐험가 강아지</li>
                        <li>배달음식 VIP 비버</li>
                        <li>활발한 트래블러 벌</li>
                        <li>장거리 이동러 고래</li>
                        <li>폰을 사랑한 새</li>
                        <li>영 & 트랜디 알파카</li>
                        <li>맥시멀리스트 다람쥐</li>
                        <li>방구석 패셔니스타 물범</li>
                    </ul>
                </div>
            </div>
            <div class="button">
                <a href="/form">
                    <button class="start" type="button">시작하기</button>
                </a>
            </div>
            <div class="result_data">
                <div class="data_wrap">
                    <h3>참여자 수</h3>
                    <ul>
                        <li>맛집 탐험가 강아지 : 0명</li>
                        <li>배달음식 VIP 비버 : 0명</li>
                        <li>활발한 트래블러 벌 : 0명</li>
                        <li>장거리 이동러 고래 : 0명</li>
                        <li>폰을 사랑한 새 : 0명</li>
                        <li>영 & 트랜디 알파카 : 0명</li>
                        <li>맥시멀리스트 다람쥐 : 0명</li>
                        <li>방구석 패셔니스타 물범 : 0명</li>
                    </ul>
                </div>
            </div>
            <div class="HowGreen">
                <a href="https://howgreen.herokuapp.com/">
                    <img src="../images/Artboard 8.png" alt="HowGreen">
                </a>
            </div>
        </div>
    </section>
</body>
</html>
```