<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div> THIS IS VIS TRANS PAGE </div>
    <h1 class="text-center">교통수단</h1>
    <label for="customRange1" class="form-label">버스 사용 시간</label>
    <input type="range" class="form-range" min="0" max="10" id="customRange1">
</body>
</html>