body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #04AA6D;
  overflow: auto;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  transition: 0.3s;
}

li a:hover {
  background-color: #555;
  color: white;
}

#navbar {
  overflow: hidden;
  background-color: #04AA6D;
  position: fixed;
  top: 30.14%;
  left: 0;
  transition: 0.5s;
}

p {
  font-size:30px;
  font-family:'Franklin Gothic Medium';
  font-style: italic;
}
